/*! ZEN Client, getzen.io, Apache License v2.0 */
body
	background-color #343434
	color #f2f2f2

#zen-editor
	position absolute
	top 40px
	right 0
	bottom 0
	left 0
	font-size 18px

.nav-tabs li
	font-size 12px !important

.nav-tabs li:target
	border: 1px dashed orange
	color: orange

#menu-bottom
	font-size 12px !important
	opacity 0.2

#menu-bottom:hover
	opacity 1

.dropdown-menu
	font-size 12px !important